.square{
  width:20rem;
  height:5rem;
  text-align: center;
  padding-top: 3rem;
  font-size: 2rem;
  font-weight: bold;
}
.blue{
  background-color: blue;
}
.green{
  background-color: green;
}
.Body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}